#body {
    overflow-x: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#main-container {
    display: flex;
    flex-direction: column;
}

#main-buttons {
    display: flex;
    flex-direction: row;
}

#form-container {
    display: flex;
    flex-direction: column;
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}