<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{css/index.css}" rel="stylesheet" type="text/css">
    <link th:href="@{css/accounts.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/img/favicon.png}" rel="shortcut icon" type="image/png">
    <title>Voops Bank</title>
</head>
<body id="body">

<h1 hx-get="/" hx-target="#body" hx-trigger="click" style="cursor: pointer">Voops bank</h1>
<div id="main-container">

    <div th:if="${isAccounts}">
        <div hx-get="/accounts" hx-target="#main-container" hx-trigger="load"></div>
    </div>

    <div id="main-buttons-container">
        <div th:replace="~{fragments/button-login}"></div>
        <div th:replace="~{fragments/button-create-account}"></div>
        <div th:replace="~{fragments/button-create-dummy-data}"></div>
    </div>

</div>

<script th:src="@{js/htmx.min.js}"></script>
</body>
</html>